
:root {
  --bg: #121212;
  --text: #f0f0f0;
  --link: #64ffda;
}

[data-theme="light"] {
  --bg: #ffffff;
  --text: #121212;
  --link: #007acc;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0 1rem;
}

header {
  align-items: center;
  padding: 2rem 0;
}

nav {
  position: sticky;
  top: 0;
  background: var(--bg);
  padding: 1rem 1rem;
  border-top: 1px solid var(--text);
  border-bottom: 1px solid var(--text);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index:1000;
}

nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: var(--link);
}

nav button {
  padding: 0.5rem 1rem;
}



main {
  max-width: 800px;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 2rem 0;
}

h1, h2, h3 {
  margin: 1rem 0;
}

ul {
  list-style: none;
  padding: 0;
}

.project {
  margin-bottom: 2rem;
}
